html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}


#app-root {
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
}

.main-content {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	min-height: 0;
	padding-bottom: 2rem;
}

.site-footer {
	flex-shrink: 0;
	margin-top: auto;
	position: sticky;
	bottom: 0;
	left: 0;
	width: 100%;
}
